.iphone-x .btn {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #fff;
  font-size: 1.5rem;
}

.iphone-x .calculator-container {
  padding: 70% 10% 10%;
}

.iphone-x .btn-lg {
  width: 148px;
  border-radius: 40px;
}

.iphone-x .btn.first {
  margin-left: 162px;
}

.iphone-x .btn-gray {
  background-color: rgb(149 143 143);
  color: #000;
}

.iphone-x .btn-dark-gray {
  background-color: rgb(76 72 72);
}

.iphone-x .btn-yellow {
  background-color: rgb(227 152 60);
}

.iphone-x .calculator-container .screen {
  height: 100px;
  color: #fff;
  font-size: 4.5rem;
  text-align: right;
}
