html {
  background: linear-gradient(
    90deg,
    rgb(161 184 205) 0%,
    rgb(115 68 133) 0%,
    rgb(42 93 137) 100%
  );
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  margin: 5px;
}

.bubble-message {
  padding: 10px 20px;
  color: white;
  border-radius: 25px;
  clear: both;
  font: 400 20px "Open Sans", sans-serif;
  background: #72d995;
  color: black;
  float: left;
  clear: both;
  max-width: 90%;
  position: absolute;
  top: 20%;
}

.bubble-message:before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 19px;
  border-left: 20px solid #72d995;
  border-bottom-right-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
  transform: translate(0, -2px);
  border-bottom-right-radius: 15px 0px\9;
  transform: translate(-1px, -2px) \9;
}

.bubble-message:after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 4px;
  width: 26px;
  height: 20px;
  background: #0e0e0e;
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
  transform: translate(-30px, -2px);
}
